* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 207, 183);
}

header{
    background-color: #333;
    color: tan;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 50px 0;
    text-align: center;
    text-decoration: underline;
}

nav{
    background-color: #111;
    padding: 14px 20px;
    text-align: center;

    a{
        color: #fff;
        text-decoration: none;
        padding: 0 20px;

    }

    a:hover{
        background-color: #ccc;
        padding: 14px 20px;
        color: rgb(25, 131, 192);
    }
}

main{

    height: 725px;
    .container {
        display: flex;
        padding: 20px;
    }

    .main-profiles{
        flex: 0.5;
        background-color: rgb(255, 241, 223);
        padding: 50px;
        text-align: center;
        border-radius: 20px;
        
        h2{
            color: tan;
            font-style: italic;
        }
        img{
            width: 300px;
            height: 400px;
            border-radius: 10px;
        }
    }

    .skills {
        flex: 1;
        padding: 0 40px;
        color: #111;
        border-radius: 20px;
    }

    .main-skills{
        background-color: rgb(255, 241, 223);
        padding: 30px;
        border-radius: 10px;

        .main-title{
            color: tan;
            font-style: italic;
        }
    }

    .experience {
        flex: 1;
        padding: 0 40px;
        color: #111;
        border-radius: 20px;
    }
    .main-experience{
        background-color: rgb(255, 241, 223);
        padding: 30px;
        border-radius: 10px;

        .main-title{
            color: tan;
            font-style: italic;
        }

        .btn-read{
            background-color: #111;
            padding: 15px;
            margin-top: 50px;
            display: inline-block;
            color: #fff;
            border-radius: 10px;
            text-decoration: none;
        }
    }

    .contact{
        flex: 1;
        padding: 0 40px;
        color: #111;
        border-radius: 20px;
    }
    .main-contact{
        background-color: rgb(255, 241, 223);
        padding: 30px;
        border-radius: 10px;

        .main-title{
            color: tan;
            font-style: italic;
        }
    }
}

footer{
    background-color: #757575;
    padding: 20px;
    text-align: center;
}